
UnregularTask/UnitTests/obj/Debug/netcoreapp3.1/UnitTests.AssemblyInfo.cs
*.cache
UnregularTask/UnitTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UnregularTask/UnitTests/obj/project.assets.json
UnregularTask/ConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
UnregularTask/ConsoleApp/obj/Debug/netcoreapp3.1/UnregularTask.AssemblyInfo.cs
UnregularTask/ConsoleApp/obj/project.assets.json
UnregularTask/ConsoleApp/obj/UnregularTask.csproj.nuget.dgspec.json
UnregularTask/ConsoleApp/obj/UnregularTask.csproj.nuget.g.props
UnregularTask/ConsoleApp/obj/UnregularTask.csproj.nuget.g.targets
UnregularTask/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
UnregularTask/UnitTests/obj/UnitTests.csproj.nuget.g.props
UnregularTask/UnitTests/obj/UnitTests.csproj.nuget.g.targets
*.dll
*.pdb
*.exe
*.testlog
ITPearls/ConsoleApp1/.vs/ConsoleApp1/v16/.suo
*.v2
*.manifest
*.json
*.props
*.targets
ITPearls/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.FileListAbsolute.txt
ITPearls/ConsoleApp1/UnitTestProject/obj/Debug/netcoreapp3.1/UnitTestProject.csproj.FileListAbsolute.txt
ITPearls/ConsoleApp1/UnitTestProject/obj/Debug/netcoreapp3.1/UnitTestProject.csproj.CopyComplete
ITPearls/ConsoleApp1/UnitTestProject/obj/Debug/netcoreapp3.1/UnitTestProject.AssemblyInfo.cs
ITPearls/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
ITPearls/ConsoleApp1/UnitTestProject/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ITPearls/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
